name: 批量拉取镜像并推送

on:
  workflow_dispatch:
    inputs:
      IMAGES_LIST:
        description: '镜像列表 (格式: 原镜像:版本,新镜像名:版本; 多个镜像用分号隔离)'
        required: true
        default: 'docker.n8n.io/n8nio/n8n,n8n:latest;postgres:16,postgres:16;jauderho/yt-dlp:latest,yt-dlp:latest;ghcr.io/mhsanaei/3x-ui:latest,3x-ui:latest'
      TARGET_REGISTRY:
        description: '仓库地址'
        required: true
        default: 'registry.cn-hangzhou.aliyuncs.com'
      TARGET_REPOSITORY:
        description: '空间名称'
        required: true
        default: 'wiley_dockerce'
      ARCH:
        description: '系统架构'
        required: true
        default: 'amd64'
        type: choice
        options:
          - amd64
          - arm64
          - arm/v7
          - arm/v6
          - 386
          - s390x
          - ppc64le

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录到 Docker 仓库
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${{ github.event.inputs.TARGET_REGISTRY }} -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: 解析并批量执行
        run: |
          # 1. 将分号替换为换行符，方便循环处理
          # 2. 遍历每一个 镜像对
          echo "${{ github.event.inputs.IMAGES_LIST }}" | tr ';' '\n' | while IFS=',' read -r OLD_IMAGE NEW_IMAGE || [ -n "$OLD_IMAGE" ]; do
            
            # 去除首尾多余空格
            OLD_IMAGE=$(echo $OLD_IMAGE | xargs)
            NEW_IMAGE=$(echo $NEW_IMAGE | xargs)
            
            if [ -z "$OLD_IMAGE" ]; then continue; fi
            
            # 自动补全：如果没有指定新名字，则取原镜像最后一部分
            if [ -z "$NEW_IMAGE" ]; then
              NEW_IMAGE=$(echo $OLD_IMAGE | awk -F'/' '{print $NF}')
            fi

            FULL_NEW_IMAGE="${{ github.event.inputs.TARGET_REGISTRY }}/${{ github.event.inputs.TARGET_REPOSITORY }}/${NEW_IMAGE}"

            echo "------------------------------------------"
            echo "正在处理: $OLD_IMAGE"
            echo "目标地址: $FULL_NEW_IMAGE"
            
            # 执行 Docker 操作
            if docker pull --platform ${{ github.event.inputs.ARCH }} $OLD_IMAGE; then
              docker tag $OLD_IMAGE $FULL_NEW_IMAGE
              docker push $FULL_NEW_IMAGE
              echo "✅ 推送成功"
            else
              echo "❌ 拉取失败，请检查镜像名是否存在"
            fi
          done
